//
// Pagination (multiple pages)
// --------------------------------------------------


.pagination {
  height: @baseLineHeight * 1.25;
  margin: @baseLineHeight 0;
 }
.pagination ul {
  display: inline-block;
  .ie7-inline-block();
  margin-left: 0;
  margin-bottom: 0;
  .border-radius(3px);
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
  background: @grayLighter;
}
.pagination li {
    display: inline;
  }
.pagination a,
.pagination span {
  float: left;
  padding: 0 14px;
  line-height: (@baseLineHeight * 2) - 2;
  text-decoration: none;
  background-color: @paginationBackground;
  border: 1px solid @paginationBorder;
  border-left-width: 0;
}
.pagination a:hover,
.pagination .active a,
.pagination .active span {
  background-color: #f5f5f5;
}
.pagination .active a,
.pagination .active span {
  color: @grayLight;
  cursor: default;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: @grayLight;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a,
.pagination li:first-child span {
  border-left-width: 1px;
  .border-radius(3px 0 0 3px);
}
.pagination li:last-child a,
.pagination li:last-child span {
  .border-radius(0 3px 3px 0);
}

// Centered
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
