//
// Typography
// --------------------------------------------------


// Body text
// -------------------------

p {
  margin: 0 0 @baseLineHeight / 2;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  small {
    font-size: @baseFontSize - 2;
    color: @gray;
  }
}
.lead {
  font-family: @baseFontFamilyLight;
  margin-bottom: @baseLineHeight;
  font-size: 1.1em;
  color: @blueDark;
  font-weight: 200;
}

// HEADINGS
// --------

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: @headerFontFamily;
  font-weight: normal;
  color: @headerTextColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  text-shadow: 0px 1px 0px white;
  word-wrap: normal;
  small {
    font-weight: normal;
    font-size: 0.8em;
    color: @blueDark;
    display: block;
    line-height: 1em;
    margin-bottom: 1em;
  }
}
h1 {
  font-size: @headerBaseFontSize * 2.2;
  line-height: @baseLineHeight * 1.6;
  small {
    //font-size: 18px;
    //margin-top: 1em;
  }
}
h2 {
  font-size: @headerBaseFontSize * 2;
  line-height: @baseLineHeight * 1.6;
  small {
    //font-size: 18px;
  }
}
h3 {
  line-height: @baseLineHeight * 1.7;
  font-size: @headerBaseFontSize * 1.5;
  small {
    //font-size: 14px;
  }
}
h4, h5, h6 {
  line-height: @baseLineHeight;
}
h4 {
  font-size: @headerBaseFontSize * 1.5;
  small {
    //font-size: 12px;
  }
}
h5 {
  font-size: @headerBaseFontSize * 1.3;
  color: @grayDark;
  text-transform: uppercase;
}
h6 {
  font-size: @headerBaseFontSize * 1.15;
  color: @grayDark;
  text-transform: uppercase;
}

// Page header
// -------------------------

.page-header {
  padding-bottom: @baseLineHeight - 1;
  margin: @baseLineHeight 0;
  border-bottom: 1px solid @grayLight;
  -webkit-box-shadow: 0 1px 1px @white;
  -moz-box-shadow: 0 1px 1px @white;
  box-shadow: 0 1px 1px @white;
}
.page-header h1 {
  line-height: 1;
  small {
    margin-top: 1em;
  }
}



// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 @baseLineHeight / 2 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: @baseLineHeight;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Description Lists
dl {
  margin-bottom: @baseLineHeight;
}
dt,
dd {
  line-height: @baseLineHeight;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: @baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
  dt {
    float: left;
    width: 120px;
    clear: left;
    text-align: right;
    .text-overflow();
  }
  dd {
    margin-left: 130px;
  }
}

// MISC
// ----

// Horizontal rules
hr {
  height: 1px;
  margin: @baseLineHeight 0;
  border: 0;
  background-color: #dbded8;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#fafafa), color-stop(50%, #d3d7cf), to(#fafafa));
  background-image: -webkit-linear-gradient(left, #fafafa, #d3d7cf 50%, #fafafa);
  background-image: -moz-linear-gradient(left, #fafafa, #d3d7cf 50%, #fafafa);
  background-image: -ms-linear-gradient(left, #fafafa, #d3d7cf 50%, #fafafa);
  background-image: -o-linear-gradient(left, #fafafa, #d3d7cf 50%, #fafafa);
  background-image: linear-gradient(left, #fafafa, #d3d7cf 50%, #fafafa);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#fafafa', GradientType=1);
}

// Emphasis
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.muted {
  color: @grayLight;
}

// Abbreviations and acronyms
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted @grayLight;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 @baseLineHeight;
  border-left: 5px solid @grayLight;
  p {
    margin-bottom: 0;
    #font > .shorthand( @baseFontSize,300,@baseLineHeight * 1.25);
  }
  small {
    display: block;
    line-height: @baseLineHeight;
    color: @grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid @grayLight;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';
      }
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: @baseLineHeight;
  font-style: normal;
  line-height: @baseLineHeight;
}

// Misc
small {
  font-size: 96%;
}
cite {
  font-style: normal;
}
