// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------



// GLOBAL VALUES
// --------------------------------------------------

// Links
@linkColor:             #0068C6;
@linkColorHover:        darken(@linkColor, 15%);

// Grays
@black:                 #2e3436;
@grayDarker:            @black;
@grayDark:              #636363;
@gray:                  #9c9c9c;
@grayLight:             #d3d7cf;
@grayLighter:           #fafafa;
@white:                 #fff;

// Accent colors
@blue:                  @linkColor;
@blueDark:              #204a87;
@green:                 #9dc600;
@red:                   #c6001e;
@yellow:                #f8d900;
@orange:                #f6ac00;
@pink:                  #ffdae5;
@purple:                #7000c6;

// Typography
@baseFontSize:          1em;
@baseFontFamily:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseLineHeight:        1.6em;
@textColor:             @black;
@headerBaseFontSize:    1em;
@headerFontFamily:      "Open Sans Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@headerTextColor:       @blueDark;

// Buttons
@primaryButtonBackground:    #43ACE8;

// NEVERLAND SPECIFIC VALUES
// --------------------------------------------------
@neverBackground:        "../img/bg.png";

// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1020;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;

// Sprite icons path
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";

// Input placeholder text color
@placeholderText:         @grayLight;

// Hr border color
@hrBorder:                @grayLighter;

// Navbar TODO
@navbarHeight:                    40px;
@navbarBackground:                @grayDarker;
@navbarBackgroundHighlight:       @grayDark;
@navbarLinkBackgroundHover:       transparent;

@navbarHeightNeverland:		  6em;
@navbarTopItemsNeverland:	  3;

@navbarText:                      @grayLight;
@navbarLinkColor:                 @grayLight;
@navbarLinkColorHover:            @white;

// Form states and alerts TODO
@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);



// GRID
// --------------------------------------------------

// Default 940px grid
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         30px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// Fluid grid
@fluidGridColumnWidth:    6.382978723%;
@fluidGridGutterWidth:    2.127659574%;
